body
{
    margin: 0;
    padding: 0;
}

.container
{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

.left
{
    position: relative;
    width: 25%;
    height: 100%;
    background: red;
    overflow: hidden;
}

.middle-left
{
    position: relative;
    width: 25%;
    height: 100%;
    background: yellow;
    overflow: hidden;
}

.middle-right
{
    position: relative;
    width: 25%;
    height: 100%;
    background: lime;
    overflow: hidden;
}

.right
{
    position: relative;
    width: 25%;
    height: 100%;
    background: violet;
    overflow: hidden;
}

h1
{
    position: absolute;
    font-size: 10em;
    white-space: nowrap;
    line-height: 70vh;
    animation: anim 10s linear infinite;
}

.left h1
{
    color: yellow;
    left: 400%;
}

.middle-left h1
{
    color: lime;
    left: 300%;
}

.middle-right h1
{
    color: violet;
    left: 200%;
}

.right h1
{
    color: red;
    left: 100%;
}

@keyframes anim {
    0%
    {
        transform: translateX(0%);
    }
    100%
    {
        transform: translateX(-300%);
    }
}
